<!DOCTYPE html>
<html>
<head>
	<title>Ever Hotel</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<style type="text/css">
	*{
		margin: 0px;
		padding: 0px;
	}
	.col-sm-1:hover{
		color: orange;
		cursor: pointer;
	}

	/*social media icon*/



.icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-right: 0px
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}


</style>

<body style="padding: 0px;margin: 0px">

<!--navbar-->
<div style="background-image: url(1a.jpg);background-size: 1400px 1600px">
	<div class="row" style="margin: 0px;padding-top: 15px;padding-top: 30px;font-size: bolder;color: black">
		<div class="col-sm-8" style="padding-left: 85px">Ever hotel</div>
		<div class="col-sm-1"><a href="/" style="color: white;">Home</a></div>
		<div class="col-sm-1"><a href="/contact" style="color: white;">Contact</a> </div>
		<div class="col-sm-1"><a href="/registration" style="color: white;">Service</a></div>
		<div class="col-sm-1"><a href="/login" style="color: white;">Login</a></div>
	</div>

	<div style="padding:190px 400px 270px 500px;font-weight: bolder;font-size: 69px;color: white">CONTACT US</div>
	
</div>

<!--map and address of hotel-->
<div class="row" style="margin: 0px">
	<!--for insert map step:first open the map and the adress of place then click on the share . then new pagr will open .click on embed a map then copy html will on the left side click on that and paste here-->
	<div class="col-sm-7"><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14007.7297691681!2d77.1164821!3d28.6317868!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x68966aea6bc15b7e!2sGuru%20Tegh%20Bahadur%20Institute%20of%20Technology!5e0!3m2!1sen!2sin!4v1614696706845!5m2!1sen!2sin" width="600" height="450" style="border:0;padding:30px 0px 30px 0px;margin: 0px " allowfullscreen="" loading="lazy"></iframe></div>

	


<!--address   detail-->
<div class="col-md-5" style="padding-left: 0px;padding-top: 10px">
				<div class="col-md-12">
					<h3>Our Address</h3>
					<ul class="contact-info">
						<li><i class="ti-map"></i>G-8 Area, Press Colony, Rajouri Garden, New Delhi, Delhi 110064</li>
						<li><i class="ti-mobile"></i>9800000000</li>
					</ul>
				</div>
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Name">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Email">
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<textarea name="" class="form-control" id="" cols="30" rows="7" placeholder="Message"></textarea>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<input type="submit" value="Send Message" class="btn btn-primary">
							</div>
						</div>
					</div>
				</div>
			</div>
	</div>

<!--end of address & map-->

<!--footer-->
<!--footer-->
<div style="background-color:rgb(214, 214, 194);margin-right: 0px ">
<div class="row" style="padding-top: 65px;padding-left: 10px;padding-bottom: 10px">
  <div class="col-sm-2"></div>
  <div class="col-sm-3">Company</div>
    <div class="col-sm-3">Our Facility</div>
  <div class="col-sm-3">Review</div>
    <div class="col-sm-1"></div>
  
</div>

<div class="row" style="color: red;hover:black;padding-top:0px;padding-bottom: 60px;padding-left: 16px;margin-right: 0px">
  <div class="col-sm-2"></div>
  <div class="col-sm-3">About us<br>Service<br>Contact<br></div>
    <div class="col-sm-3">Resturant<br>Cafe<br>Pool<br>Spa</div>
  <div class="col-sm-3" style="padding-left: 0px"><br><form><textarea cols="15" rows="1" placeholder="customer review"></textarea><input type="submit" class="btn-primary" style="margin-top: 0px;margin-left: 4px;margin-bottom: 10px"></input></form></div>
    <div class="col-sm-1"></div>
  
</div>
</div>
<!-- end of footer-->

<!--contact&booking icon-->
<div class="icon-bar">
    <a href="/registration" class="booking" style="background-color: rgb(255, 102, 0)">BOOK NOW</a> 
  </div>
<!--end of social media icon-->

</body>
</html>