<!DOCTYPE html>
<html>
<head>
	<title>Ever Hotel</title>
	
</head>
<style type="text/css">
	body{
	margin: 0px;
}
button:hover{
	color: black;
	cursor: pointer;

}
</style>
<!--bg size=width*heigth-->
<body style="background-image: url(2a.jpg);background-size: 1800px 700px; padding:30px">
	  
	
		<h1 style="padding:20px 450px 0px 510px;color:white;font-weight: bolder;font-size: 70px ">Login</h1>
		<br>

		<form action="/login" method="POST">
			<input type="email" required name="email" placeholder="Username" style="border:none ;border-bottom: solid; margin-left: 390px;padding:9px 115px 9px 170px;background-image: url(2a.jpg);"><br><br><br>
			<input type="Password" id="Password" required name="password" placeholder="Password" style="border:none ;border-bottom:solid; margin-left: 390px;padding:9px 115px 9px 170px;background-image: url(2a.jpg);">
			<br><br>
		    <button type="submit" name="submit" style="padding:7px 90px 13px 85px;color: white;font-weight: bolder;margin: 20px 400px 0px 488px;background-color: rgb(77, 121, 255)">Login</button>
		    <br>
		</form>
		<h3 style="padding:0px 400px 0px 410px;color: black;font-weight: bolder">No Username and Password?Register for Booking</h3>
		<button style="padding:13px 90px 13px 90px;color: white;font-weight: bolder;margin: 10px 400px 0px 466px; background-color: rgb(77, 121, 255)"><a href="/registration" style="color: white;">Register Now</a></button>

		
	

</body>
</html>